@media only screen and (max-width: 767px) {
    * {
        text-align: center;
        list-style-type: none;
        padding: 0px;
    }

    .guestMap {
      max-width: 100%;
      height: auto; 
    }

    .contactWrapper {
      flex-direction: column;
    }
  }
  

  @media only screen and (min-width: 768px) {
    .contactInfo {
        display: flex;
        flex-direction: column;
    }



  }