@media only screen and (max-width: 767px) {
    * {
        text-align: center;
        list-style-type: none;
        padding: 0px;
    }

    .guestMap {
      max-width: 100%;
      height: auto; 
    }

    #contactInfo {
    }
  }
  

  @media only screen and (min-width: 768px) {
    #contactInfo {
        display: flex;
    }

    .guestMap {
      /* max-width: 45%; */
      height: auto; 
      filter: drop-shadow(0px 0px 3px white);
    }

  }