@media (max-width: 767px) {
    * {
        text-align: center;
        list-style-type: none;
        padding: 0px;
    }

    .guestImage {
      max-width: 100%;
      height: auto; 
    }

    #contactInfo {
    }
  }
  

  @media (min-width: 768px) {
    #contactInfo {
        display: flex;
    }

    .guestImage {
      max-width: 45%;
      height: auto; 
    }

  }