/* GENERAL */
@font-face {
    font-family: 'Futura';
    src: url('/assets/Futura.ttf');
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: black;
    font-family: 'Futura';
    color: white;
    background-image: url('/assets/parchment.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.homepage-body {
    background-image: url('/assets/tavern.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    background-position-y: 10%;
}

main {
    padding: 40px;
    padding-top: 10px;
    width: 100%;
}

body::-webkit-scrollbar {
    width: .4em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
    color: black;
    background-color: white;
    outline: 1px solid black;
    border-radius: 2px;
}

p, td {
    font-size: min(6vw, 24px);
}

h1 {
    font-size: min(10vw, 55px);
}

h2 {
    font-size: min(9vw, 37px);
}

.header-h2 {
    margin: 5px auto;
}

h3 {
    font-size: min(8vw, 35px);
}

h4 {
    font-size: min(7vw, 25px);
}

label {
    font-size: min(6vw, 24px);
}

footer {
    z-index: 50;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background-color: black;
    border-top: solid white 2px;
}

/* LANDING */
.header {
    display: flex;
    margin: 10px 5px;
    flex-direction: column;
    align-items: center;
    background-color: black;
    border: white double 5px;
    border-radius: 10px;
}

.header-fig {
    margin: 0px;
}

.header-img {
    height: 100px;
    filter: drop-shadow(white 3px -3px 3px);
}

.header-h1 {
    margin: 10px;
}

.header-nav {
    width: 80%;
}

.header-ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 0px;
}

.header-ul li {
    width: 33%;
    display: flex;
}

.header-ul a {
    margin: auto;
}

.welcome-forms {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px auto;
}

.flex-around {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.welcome-form-employee {
    padding: 10px;
    color: white;
    background-color: black;
    border: white solid 3px;
    border-radius: 5px;
}

#employeeName, #employeePass {
    margin: 0px 10px 10px 10px;
}

.button {
    font-family: 'Futura';
    font-size: min(6vw, 28px);
    padding: 5px;
    color: white;
    background-color: black;
    border: white solid 3px;
    border-radius: 5px;
    margin: 10px;
    display: inline-block;
    text-decoration: none;
}


.button:hover {
    scale: 1.2;
    background-color: rgb(90, 90, 90);
}

.button:active {
    scale: 0.9;
}

.reserve-button {
    color: black;
    background-color: white;
    border: black double 5px;
}

.reserve-button:hover {
    color: white;
    border-color: white;
    scale: 1.2;
    background-color: rgb(90, 90, 90);
}

.reserve-button:active {
    scale: 0.9;
}

.fc {
    margin: auto;
    margin-bottom: 30px;
    height: 100%;
    width: 80%;
}

.fc-event {
    max-height: 25%;
    font-size: max(1.5vw, 12px);
}

:root {
    .fc-button {
        background-color: black;
        border: solid 3px white;
        border-radius: 5px;
        padding: 5px; 
        margin: 10px;
    }    
    .fc-button:hover {
        scale: 1.2;
        background-color: rgb(90, 90, 90);
    }
    .fc-button:active {
        scale: 0.9;
    }
}

.fc-event:hover {
    background-color: white;
    color: black;
    border-radius: round;
    cursor: pointer;
}

.footer-text {
    margin: 5px;
    font-size: min(3.5vw, 18px);
}

/* MENU */
.chef-warning {
    margin: auto;
    max-height: 250px;
    max-width: 250px;
    width: 100%;
    height: 100%;
    scale: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border: 3px solid white;
    border-radius: 500px;
    background-color: black;
}
.chef-warning img {
    max-height: 100%;
    width: 100%;
    aspect-ratio: 500 / 366;
    scale: 1.2;
}

.chef-warning-caption {
    font-size: min(7vw, 30px);
    max-height: min(7vw, 30px);
    width: max-content;
    margin: 10px;
}

.menu-category {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    text-shadow: 1px 1px 3px black;
}

.menu-list {
    list-style-type: none;
    margin: auto;
    width: 80%;
    text-align: center;
}

.menu-header-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-header {
    font-size: 30px;
    width: fit-content;
    display: inline-block;
    margin: 10px 20px;
}

.menu-icon {
    width: 50px;
    height: 50px;
    display: inline-block;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.9));
}

.item-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0px;
}

.item-attribute {
    margin: 0px auto;
    text-align: center;
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price-icon {
    height: 20px;
    width: 20px;
    margin: 0px 0px 0px 3px;
}

hr {
    border-color: rgb(140, 140, 140);
    width: 80%;
    opacity: 60%;
}

/* GUEST HOME */
.home-wrapper {
    width: 85%;
    margin: auto auto 40px auto;
}

#restaurant-info {
    background-image: url('/assets/tavern.jpeg');
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center;
    background-position-y: 40%;
    background-attachment: fixed;
    min-height: 400px;
    padding: 0px 0px 40px 0px;
    overflow: hidden;
    border: solid white 3px;
    border-radius: 10px;
    text-shadow: 1px 1px 3px black;
}

#restaurant-info p {
    max-width: 70%;
    text-align: center;
    margin: auto;
}

.guest-title {
    width: 100%;
    padding-left: 40px;
}

.contact-wrapper {
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.contact-info {
    display: flex;
    flex-direction: column;
    padding: 0px 0px;
}

.contact-info a {
    width: fit-content;
    margin: auto;
}

.opening-hours {
    scale: 1.15;
}

.hours-table, td, th {
    border: 1px solid white;
    background-color: black;
    border-collapse: collapse;
    padding: 4px 8px;
    text-align: center;
    margin: 20px auto;
}

td { 
    border-left: 0px;
    border-right: 0px;
}

.guest-map {
    max-height: 700px;
    min-height: auto; 
    filter: drop-shadow(0px 0px 3px white);
    overflow-x: visible;
    aspect-ratio: 1;
  }

/* RESERVATION FORM */
.reservationWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reservationForm {
    min-width: 65%;
    max-width: 95%;
    max-height: fit-content;
    justify-content: space-between;
    color: white;
    background-color: black;
    border: double white 5px;
    border-radius: 10px;
    padding: 5px 15px;
    margin-bottom: 35px;
}

.reservation-form-fields {
    color: white;
    background-color: black;
    border: inset white 1px;
    font-family: 'Futura';
    font-size: 22px;
    margin-bottom: 8px;
}

.reservationForm textarea {
    resize: none;
    width: 100%;
    margin-bottom: 0px;
}

.form-button-wrapper {
    display: flex;
    justify-content: space-around;
}

textarea::-webkit-scrollbar {
    width: .2em;
}

textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

textarea::-webkit-scrollbar-thumb {
    color: black;
    background-color: white;
    outline: 1px solid black;
    border-radius: 2px;
}

.reservationForm input[type="submit"] {
    float: right;
}

#reservationTable{
    width: 125px;
}

.reservationHalfWidth{
    width: 50%;
    min-width: 200px;
} 

input[type="date"]::-webkit-calendar-picker-indicator {
    background: url('/assets/calendar.webp') no-repeat contain;
    filter: invert(100%);
}

/* RESPONSIVENESS FOR M/S SCREENS */
@media only screen and (max-width: 835px) {
    * {
        text-align: center;
        padding: 0px;
    }

    main {
        padding: 10px 10px 50px 10px;
    }

    .welcome-forms {
        flex-direction: column;
    }

    .home-wrapper {
        width: 95%;
    }

    #restaurant-info {
        padding: 0px 10px 40px 10px;
    }

    #restaurant-info p {
        margin: 0px auto;
        width: 95%;
    }

    .contact-wrapper {
    flex-direction: column;
    }

    .contact-info {
        padding: 0px 10px;
    }

    .guest-title {
        padding: 0px;
    }

    .guest-map {
        margin-top: 50px;
        height: 100%;
        width: 100%;
    }

    .menu-list {
        width: 90%;
    }
    
    p.item-attribute {
        width: 25%;
    }

    .reservationForm {
        padding: 0px;
        margin-bottom: 60px;
        width: 100%;
    }

    .reservationForm textarea {
        margin: 0px 5%;
        width: 90%;
    }
}